body, p, div, h1, h2, h3, h4, h5, h6, a, li  {
  font-family: museo,serif !important;
}
body, html {
  position: relative;
  overflow-x: hidden;
  height: 100%;
}
header {
  border-top: 5px solid #cb0014;
  background: #ffed0f;
  padding-top: 10px;
  padding-bottom: 12px;
  position: relative;
  height: 120px;
}
.maggie-logo{
  position: absolute;
  margin-left: 20px;
}
.header-con {
  display: table;
  table-layout: fixed;
  width:100%;
}
.left-menu,
.main-logo,
.right-menu {
  display: table-cell;
  vertical-align: top;
  text-align: center;
}
.left-menu ul,
.right-menu ul {
  margin:0px;padding: 0px;
  padding:0px 10px;
}
.left-menu ul li,
.right-menu ul li {
    display: inline-block;
}
.left-menu a,
.right-menu a {
  color: #cb0014;
}
.left-menu-bottom ul li a, .right-menu-bottom ul li a {
  margin:0px 5px;
}
.left-menu-bottom ul{
  margin-top: 16px;
}
.left-menu-bottom ul li,
.right-menu-bottom ul li {
  margin-top: 30px;
  display: inline-block;
}
.left-menu ul li a,
.right-menu ul li a {
  color: #cb0014;
}
.main-logo a {
  display: block;
  margin-top: -10px;
}
.social-seperator {
  border-left:1px solid #cb0014;
  margin-left: 10px;
}
.buy-now {
  padding-left: 50px;
  background: url(../images/buy-now.png) 10px  no-repeat;
  background-size: 22px;
}
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
#wrapper .navbar {
  margin-bottom: 0px;
}
#page-content-wrapper {
  padding-right: 0px;
  transition: all .340s ease-in-out;
  -ms-transition: all .340s ease-in-out;
  -O-transition: all .340s ease-in-out;
  -webkit-transition: all .340s ease-in-out;
  -moz-transition: all .340s ease-in-out;
}
.wrapper-in {
  margin-left: -250px !important;
}
#sidebar-wrapper {
  width:300px;
  height: 100%;
  position: absolute;
  right: 0px;
  z-index: 2;
  background: url(../images/menu-bg.jpg);
  background-position:left bottom;
  margin-right: -300px;
  transition: all .340s ease-in-out;
  -ms-transition: all .340s ease-in-out;
  -O-transition: all .340s ease-in-out;
  -webkit-transition: all .340s ease-in-out;
  -moz-transition: all .340s ease-in-out;
}
.toggler {
  cursor: pointer;
  float: right;
  margin-right: 50px;
  transition: all .340s ease-in-out;
  -ms-transition: all .340s ease-in-out;
  -O-transition: all .340s ease-in-out;
  -webkit-transition: all .340s ease-in-out;
  -moz-transition: all .340s ease-in-out;
  position: relative;
  z-index: 999;
  margin-top: -128px;
}
/* hamburger button */
/*#nav-icon1 {
  width: 50px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .340s ease-in-out;
  -moz-transition: .340s ease-in-out;
  -o-transition: .340s ease-in-out;
  transition: .340s ease-in-out;
  cursor: pointer;
  z-index: 99;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #cb0014;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}
#nav-icon1 span:nth-child(2) {
  top: 18px;
}
#nav-icon1 span:nth-child(3) {
  top: 36px;
}
#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}*/
